html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FFFFFF;
    width: 97vw;
    margin: 0;
    padding: 0;
    border: 5px solid #EB4F75;
}

header img {
    float: left;
    width: 90px;
    height: 80px;
    background: #555;
}

header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

h1 {
    font-family: 'FilsonPro', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #5475B6;
    font-weight: 700;
    display: inline-block;
}

h2 {
    font-family: 'FilsonPro', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #EB4F75;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    font-family: 'AcuminVariable', sans-serif;
    font-size: 1em;
    color: #6D6F71;
    margin-bottom: 0.5em;
    text-align: center;
}

h4 {
    font-family: 'AcuminVariable', sans-serif;
    font-size: 0.75em;
    color: #6D6F71;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-family: 'AcuminVariable', sans-serif;
    font-size: 0.75em;
    color: #6D6F71;
    margin-bottom: 0.5em;
    text-align: center;
}

a {
    color: #EB4F75;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.moreinformationLinkText {
    color: white !important;
}

.image {
    width: 100%;
}

.container {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    width: 100%;
    height: auto;
}

.container .moreinformation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: auto;
}

.container .moreinformation:hover {
    background-color: #EB4F75;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #EB4F75;
    list-style-type: none;
}

.next .moreinformation {
    display: inline-block;
}

.next {
    margin: 1vw;
    background-color: #5475B6;
    border-radius: 28px;
    border: 1px solid #5475B6;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 16px 22px;
    width: 45%;
}

.next:hover {
    background-color: #eca8b9;
}

.next:active {
    position: relative;
    top: 1px;
}

.moreinformation {
    margin: 1vw;
    background-color: #5475B6;
    border-radius: 28px;
    border: 1px solid #5475B6;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 16px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    display: inline-block;
    justify-content: center;
    width: 30%;
}

.moreinformation:hover {
    background-color: #8e9bb6;
}

.moreinformation:active {
    position: right;
    top: 1px;
}

iframe {
    width: 80%;
    height: 40vh;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'FilsonPro', sans-serif;
    font-size: 2em;
}

#imageWrapper {
    padding: 2vh 5vh;
    display: flex;
    justify-content: center;
    align-content: stretch;
    height: 10%;
}

form {
    font-family: 'AcuminVariable', sans-serif;
    font-size: 1em;
    color: #6D6F71;
    margin-bottom: 0.5em;
    text-align: center;
    margin: 10%;
}

footer {
    color: #2e2e2e;
}

.home {
    width: 10%;
    float: right;
}

.links {
    list-style-type: none;
}

.button {
    margin: 1vw;
    background-color: #e96586;
    border-radius: 28px;
    border: 3px solid #EB4F75;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    height: auto;
}

.submit {
    margin: 1vw;
    background-color: #6786c4;
    border-radius: 28px;
    border: 3px solid #5475B6;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    height: auto;
}

label {
    font-family: 'AcuminVariable', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6D6F71;
    margin-bottom: 0.5em;
    text-align: center;
    margin: 0%;
    margin-top: 0.75em;
    margin-bottom: 0;
}

input {
    margin: 0%;
}
